@import "tailwindcss";

@theme {
  /* Define las fuentes para que Tailwind genere las clases font-roboto y font-poppins */
  --font-roboto: 'Roboto', sans-serif;
  --font-merriweather: 'Poppins', sans-serif;
  --color-marca-azul: #0F766E;
  --color-marca-turquesa: #2DD4BF;
  --color-marca-hielo: #F8FAFC;
  --color-marca-gris: #1E293B;
  --color-marca-naranja: #F97316;
}

/* Opcional: Se define Roboto como la fuente por defecto de todo el sitio */
body {
  font-family: var(--font-roboto);
}